.tm_footer {
	border:3px solid #26d19d;
	border-radius:10px;
	padding:10px 0;
	margin-top:18px;
	max-width:700px;
	margin-left:initial;
	margin-right:initial;
}
.tm-header {
	color:#aaa;
}
.tm-author {
	font-weight:bold;
}
.tm-article {
	color: #009561; //adjustColor(base,-60);
}
.tm-key, .tm-tag, .tm-text {
	color:#26d19d;
}
.tm-link {
	cursor:pointer;
}
.tm-link:hover {
    text-decoration:underline;
}

/* Modal */
#bootbox-thoughtmesh-content {
	font-size:smaller;
}
#bootbox-thoughtmesh-content .tm-excerpt {
	margin-bottom:12px;
}
.thoughtmesh_bootbox .modal-body {
	overflow:auto;
}